/* Navigation */
.navbar-custom{
    background: rgb(255, 255, 255);
}

.navbar {
    padding: 1% 7% !important;
}

.nav-item {
    padding-left: 50px;
}


.nav-link, .navbar-brand {
    color: gray;
    font-size: 1.2rem;
}

.nav-link:hover, .navbar-brand:hover {
    color: black;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(0, 0, 0);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Projects */
#projects {
    background: #17252a;
}
.card-deck {
    padding: 2% 7% !important;
}

.project-card {
    margin-bottom: 25px;
}

#projects h1 {
    padding: 40px;
    color: rgb(255, 255, 255);
    font-size: 4.5rem;
    text-align: center;
}

/* Skills */
#skills {
    background: white;
}

.row {
    padding: 2% 7%;
}

.skill-image {
    padding-bottom: 100px;
}

#skills h1 {
    padding: 40px;
    color: rgb(0, 0, 0);
    font-size: 4.5rem;
    text-align: center;
}

/* Education */
#education {
    text-align: center; 
    background: #17252a;
    color: white;
}

.carousel-item {
    padding-bottom: 80px;
}

.college {
    padding-top: 50px;
}

.ad-img {
    padding: 5% 40%;
}

/* Contact */
#contact {
    text-align: center;
}
#contact h1 {
    padding: 40px;
    color: rgb(0, 0, 0);
    font-size: 4.5rem;
    text-align: center;
}

.contact-info {
    padding-bottom: 30px;
}
.contact-icon {
    margin-right: 15px;
}

.fa-3x {
    vertical-align: middle;
}